p {
    color: green;
}

li {
    background-color: rebeccapurple;
}

.apresentação{
    color: aqua;
}

#paragrafoId {
    color: chocolate;
}

button:hover{
    color:  blue;
    background-color: red
}